/* Import google Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Varibales */
:root {
    --bg-color: #3b82f6;
    --white: #ffF;
  }


/* Remove browser default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    background-color: #e5e7eb;
}

/* ------------START----------- */
/* --------index.html----------- */
/* Grid 3 rows -> Navbar, Welcome Text & Categories container */
.grid-main-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px .7fr 1fr;
}

/* Navbar -> Grid first row */
.navbar{
    background-color: var(--bg-color);
    color: var(--white);

    grid-row: 1/span 1;
}
/* Welcome Text and Search bar -> grid second row */
.welcome-text{
    background-color: var(--white);
    grid-row: 2/span 1;

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 3.8rem;
    font-weight: 900;
}
/* Category Container -> Grid third row */
.categories-container{
    grid-row: 3/span 1;
}

/* Set navbar grid 3 columns */
.navbar{
    display: grid;
    grid-template-columns: 1fr 50px 100px;
    gap: 10px;
    align-items: center;
    padding: 1rem;
}

/* Eshop spot Text */
.logo{
    cursor: pointer;
    grid-column: 1/ span 1;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: .6px;
}
.logo a{
    text-decoration: none;
    color: var(--white);
}
/* Username and Login button */
.user-profile-img{
    grid-column: 2/ span 1;
}
.user-profile{
    grid-column: 3/ span 1;
}
.login-btn{
    margin-left: auto;
    grid-column: 3/ span 1;
}
/* user profile */
.user-profile, .profile{
    margin-left: auto;
    display: none;
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    font-weight: 800;
}

/* button style */
.btn{
    cursor: pointer;
    padding: .8rem;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 25px;
    color: var(--bg-color);
}

/* Search bar */
.search-bar {
    text-align: center;
    width: 100%;
}
.search-bar input{
    
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
}

/* individual product card style */
.card{
    cursor: pointer;
    padding: 1rem 1rem;
    background-color: var(--white);
    /* max-width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
/* .card >*:first-child{
    margin-bottom: auto;
}
.card >*:last-child{
    margin-top: auto;
} */
.card img{
    margin: 10px 0;
    width: 100%;
    height: auto;
}

.card:hover{
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
}


/* set Categories container four columns */
.categories-container{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
/* --------index.html----------- */
/* ------------END----------- */

/* ------------START----------- */
/* --------listing.html----------- */
/* Grid 2 rows -> Navbar & listing container */
.grid-listing-container{
    height: 100vh;
    display: grid;
    grid-template-rows: 70px 1fr;
}

/* Set navbar grid column 3*/
.navbar-search{
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 150px 1fr 50px 100px;
    align-items: center;
}
.navbar-search{
    background-color: var(--bg-color);
    color: var(--white);
}

/*  container, set grid column 2. first column for Filter & second column for listing container(Product container)*/
.listing{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}
.filters{
    padding: 1rem;
    background-color: var(--white);
    grid-column: 1/span 1;
}
.listing-container{
    grid-column: 2/span 1;
}

/* Listing container(Product container) set column 3 */
.listing-container{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.filters{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products_card img{
    width: 100%;
    height: 300px;
    object-fit:cover;
}
/* --------listing.html----------- */
/* ------------END----------- */



/* media query */
/* --------index.html(START)----------- */

/* reduced welcome Text size and increase search bar width */
@media (max-width:760px) {
    .welcome-text{
        font-size: 3rem;
    }
    .search-bar input {
        width: 60%;
    }
}
/* Again: reduced welcome Text size and increase search bar width */
@media (max-width:630px) {
    .welcome-text{
        font-size: 2.5rem;
    }
    .search-bar input {
        width: 70%;
    }
}
/* change Category container 4 columns to 3 columns & reduced Welcome Text size */
@media (max-width:500px) {
    .categories-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .welcome-text{
        font-size: 1.9rem;
    }
}

/* Again: increase search bar width */
@media (max-width:450px) {
    .search-bar input {
        width: 85%;
    }
}
/* --------index.html(END)----------- */

/* --------listing.html(START)----------- */

/* change 3 column into 2 column */
@media (max-width:1000px) {
    .listing-container{
        grid-template-columns: repeat(2, 1fr);
    }    
}
@media (max-width:805px) {
    .listing {
        grid-template-columns: 1fr 3fr;
    }
}
@media (max-width: 650px){
    .listing {
        grid-template-columns: 155px 1fr;
    }
    .listing-container{
        grid-template-columns: 1fr;
    }
    .card{
        padding: .5rem;
    }
    .products_card img{
        width: 100%;
        height: auto;
    }
}

/* Navbar grid and logo */
@media (max-width:550px) {
    .navbar-search{
        grid-template-columns: 130px 1fr 60px;
    }
    .logo{
        font-size: 1.5rem;
    }
}
/* --------listing.html(END)----------- */
